.naranja {
    background-color: rgb(209,91,25);
    padding-top: 15px;
    padding-bottom: 40px ;
    padding-left: 60px;
    padding-right: 60px;
    margin: calc(33.3% - 20px);
}

.piel {
    background-color: rgb(229,166,133);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 60px ;
}

.celeste {
    background-color: rgb(69,159,199);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 50px ;
}

.cian {
    background-color: rgb(159,202,224);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 40px ;
}

h3 {
    text-align: center;
}
